div {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #121213;
  font-family: 'Roboto', sans-serif;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.char-table {
  height: 50%;
  max-width: 80%;
  aspect-ratio: 5 / 6;
}

.char-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width : calc(100% / 5);
  aspect-ratio: 1;
  float: left;
}

.char {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  aspect-ratio: 1;
  border: 2px solid #3A3A3C;
  font-size: 1.8rem;
  color: #fff;
  font-weight: bold;
  overflow: hidden;
}

@keyframes zoom {
  from { width: 90% }
  to { width: 100% }
}

.char:not(:empty) {
  border-color: #565758;
  animation: zoom 100ms ease-in-out;
}

@keyframes found-turn {
  0% {
    color: transparent;
    background-color: transparent;
    transform: rotateX(180deg);
  }
  50% {
    border: 2px solid #3A3A3C;
    color: transparent;
    background-color: transparent;
  }
  51% {
    border: none;
    background-color: #538D4E;
    color: #fff;
  }
  100% {
    border: none;
    background-color: #538D4E;
    color: #fff;
    transform: rotateX(360deg);
  } 
}

@keyframes wrong-place-turn {
  0% {
    color: transparent;
    background-color: transparent;
    transform: rotateX(180deg);
  }
  50% {
    border: 2px solid #3A3A3C;
    color: transparent;
    background-color: transparent;
  }
  51% {
    border: none;
    background-color: #B59F3B;
    color: #fff;
  }
  100% {
    border: none;
    background-color: #B59F3B;
    color: #fff;
    transform: rotateX(360deg);
  }   
}

@keyframes not-found-turn {
  0% {
    color: transparent;
    background-color: transparent;
    transform: rotateX(180deg);
  }
  50% {
    border: 2px solid #3A3A3C;
    color: transparent;
    background-color: transparent;
  }
  51% {
    border: none;
    background-color: #3A3A3C;
    color: #fff;
  }
  100% {
    border: none;
    background-color: #3A3A3C;
    color: #fff;
    transform: rotateX(360deg);
  } 

}

.char-container:nth-child(5n + 2) [class*="turn"] { animation-delay: 0.6s !important }
.char-container:nth-child(5n + 3) [class*="turn"] { animation-delay: 1.2s !important }
.char-container:nth-child(5n + 4) [class*="turn"] { animation-delay: 1.8s !important }
.char-container:nth-child(5n + 5) [class*="turn"] { animation-delay: 2.4s !important }

.found-turn { animation: found-turn 400ms linear !important }
.wrong-place-turn { animation: wrong-place-turn 400ms linear !important }
.not-found-turn { animation: not-found-turn 400ms linear !important }

.char.found {
  background-color: #538D4E;
  border: none;
}

.char.wrong-place {
  background-color: #B59F3B;
  border: none;
}

.char.not-found {
  background-color: #3A3A3C;
  border: none;
}


/* keyboard */
.keyboard {
  height: 20%;
  max-width:95%;
  aspect-ratio: 3 / 1;
}

@media (orientation: portrait) {
  .keyboard {
    height: 29%;
  }
}
/* @media only screen and (max-height: 427px) { */

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% / 3);
  padding-bottom: 1.5%;
}

.keyboard-row .key {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: calc((100% - 1.5% * 9) / 10);
  border-radius: 10%;
  background-color: #818384;
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.keyboard-row .key:not(:last-child) { margin-right: 1.5% }

.backspace svg { width: 1.4rem }
.key.backspace {
  min-width: 2.75rem;
  width: calc(100% / 11 + 1rem);
}

.key.enter {
  font-weight: normal;
  font-size: 0.9rem;
  min-width: 2.75rem;
  width: calc(100% / 11 + 1rem);
}
.key:active { opacity: 0.5 }

.key.found { background-color: #538D4E !important}
.key.wrong-place { background-color: #B59F3B }
.key.not-found { background-color: #3A3A3C }

@keyframes not-valid-alert {
  0% { opacity: 1; }
  1% { transform: translateX(7px) }
  2% { transform: translateX(-7px) }
  3% { transform: translateX(7px) }
  4% { transform: translateX(-7px) }
  5% { transform: translateX(7px) }
  6% { transform: translateX(-7px) }
  7% { transform: translateX(7px) }
  8% { transform: translateX(-7px) }
  9% { transform: translateX(7px) }
  10% { transform: translateX(-7px) }
  11% { transform: translateX(0) }
  85% { opacity: 1; }
}

@keyframes vibrate {
  25% { transform: translateX(-7px) }
  50% { transform: translateX(0) }
  75% { transform: translateX(7px) }
  100% { transform: translateX(0) }
}

@keyframes opacity {
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  opacity: 0;
}

.alert.not-valid {
  animation: vibrate 80ms linear 6, opacity 2s linear;
  width: 7rem;
  border-radius: 1.25rem;
  background-color: #9A86A4;
  color: #B7E5DD;
}

@keyframes smooth-fall {
  from { transform: translateY(-1rem) }
  to { transform: translateY(0) }
}

.alert.loose {
  opacity: 1;
  animation: smooth-fall 700ms ease-out;
  padding: 0 0.5rem;
  background-color: #EC994B;
  color: #fff;
  border-radius: 0.5rem;
}

@keyframes jump { 50% { transform: translateY(2rem) } }
.alert.win {
  opacity: 1;
  animation: jump 1.5s ease-in-out infinite;
  background-color: #FFCD38;
  color: #fff;
  padding: 0 1rem;
  border-radius: 0.5rem;
}
